<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<meta http-equiv="Access-Control-Allow-Origin" content="*">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<link href="css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="css/my.css" />
		<!--<style>
			 body{
			 	/*background-color: white;*/
			 }
			 .mui-content-padded{
			 	 background-color: white;
			 	 
			 }
			 .mui-card{
			 	  /*height: 30px;*/
			 }
			 .mui-row-board{
			 	border-bottom:1px solid gainsboro;
			 	height: 40px;
			 	line-height:40px;   
			 	
			 }
			 .mui-bt{
			 	padding-left: 10px;
			 }
			 .mui-number-color{
			 	 color: red;
			 }
		</style>-->
	</head>

	<body id="approve">
		<header class="mui-bar mui-bar-nav">
		    <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
		    <h1 class="mui-title">报销管理</h1>
		</header>
		<div class="mui-content">
			
			
	              <div id ="billhead" class=" mui-card mui-content-padded">
	              	  <div class="mui-row mui-row-board">
	              	  	   <div class="mui-bt mui-col-xs-3 mui-col-sm-3 ">
	              	  	   	 公司:
	              	  	   </div>
	              	  	    <div class="mui-col-xs-9 mui-col-sm-9 ">
	              	  	   	 {{appinfo.dwmc}}
	              	  	   </div>
	              	  	   
	              	  </div>
	              	  <div class="mui-row mui-row-board">
	              	  	   
	              	  	   <div class="mui-bt mui-col-xs-6 mui-col-sm-3 ">
	              	  	   	 报销单据号:
	              	  	   </div>
	              	  	    <div class="mui-col-xs-6 mui-col-sm-9 ">
	              	  	   	 {{appinfo.billno}}
	              	  	   </div>
	              	  </div>
	              	  
	              <!--</div>-->
	              <!--<div class="mui-card  mui-content-padded">-->
	              	  <div class="mui-row mui-row-board">
	              	  	   <div class="mui-bt mui-col-xs-6 mui-col-sm-3 ">
	              	  	   	 报销单类型:
	              	  	   </div>
	              	  	    <div class="mui-col-xs-6 mui-col-sm-3 ">
	              	  	   	 {{appinfo.djlxmc}}
	              	  	   </div>
	              	  	   <div class="mui-bt mui-col-xs-6 mui-col-sm-3 ">
	              	  	   	 单据日期:
	              	  	   </div>
	              	  	    <div class="mui-col-xs-6 mui-col-sm-3 ">
	              	  	   	 {{appinfo.djrq}}
	              	  	   </div>
	              	  </div>
	              <!--</div>-->
	              <!--<div class="mui-card mui-content-padded">-->
	              	  <div class="mui-row mui-row-board">
	              	  	   <div class=" mui-bt mui-col-xs-6 mui-col-sm-3 ">
	              	  	   	 报销合计金额:
	              	  	   </div>
	              	  	    <div class="mui-col-xs-6 mui-col-sm-3 ">
	              	  	   	 {{appinfo.total}}
	              	  	   </div>
	              	  	   <div class="mui-bt mui-col-xs-6 mui-col-sm-3 ">
	              	  	   	 冲借款原币金额:
	              	  	   </div>
	              	  	    <div class="mui-col-xs-6 mui-col-sm-3 ">
	              	  	   	 {{appinfo.cjkybje}}
	              	  	   </div>
	              	  </div>
	              <!--</div>-->
	              <!--<div class="mui-card mui-content-padded">-->
	              	  <div class="mui-row mui-row-board">
	              	  	   <div class="mui-bt mui-col-xs-6 mui-col-sm-3 ">
	              	  	   	 冲借款原币金额:
	              	  	   </div>
	              	  	    <div class="mui-col-xs-6 mui-col-sm-3 ">
	              	  	   	 {{appinfo.hkybje}}
	              	  	   </div>
	              	  	
	              	  </div>
	              	  <div class="mui-row mui-row-board" v-if="appinfo.chry">
	      
	              	  	   <div class="mui-bt mui-col-xs-6 mui-col-sm-3 " >
	              	  	   	 出差人员:
	              	  	   </div>
	              	  	    <div class="mui-col-xs-6 mui-col-sm-9 " >
	              	  	   	 {{appinfo.chry}}
	              	  	   </div>
	              	  </div>
	              <!--</div>-->
	              <!--<div class="mui-card mui-content-padded">-->
	              	  <div class="mui-row mui-row-board">
	              	  	   <div class="mui-bt mui-col-xs-3 mui-col-sm-3 ">
	              	  	   	 报销部门:
	              	  	   </div>
	              	  	    <div class="mui-col-xs-3 mui-col-sm-3 " >
	              	  	   	 {{appinfo.bxbmmc}}
	              	  	   </div>
	              	  	   <div class="mui-bt mui-col-xs-3 mui-col-sm-3 ">
	              	  	   	 报销人:
	              	  	   </div>
	              	  	    <div class="mui-col-xs-3 mui-col-sm-3 " >
	              	  	   	 {{appinfo.bxrmc}}
	              	  	   </div>
	              	  </div>
	             
	              	  <!--<div class="mui-row mui-row-board" >
	              	  	  <div class="mui-bt mui-col-xs-6 mui-col-sm-3 ">
	              	  	   	 报销事项说明:
	              	  	   </div>
	              	  	    <div class="mui-col-xs-6 mui-col-sm-3 " >
	              	  	   	 {{appinfo.bxsxsm}}
	              	  	   </div>
	              	  	   <div class="mui-bt mui-col-xs-6 mui-col-sm-3 ">
	              	  	   	 单据状态:
	              	  	   </div>
	              	  	    <div class="mui-col-xs-6 mui-col-sm-3 " >
	              	  	   	 {{appinfo.djzt}}
	              	  	   </div>
	              	  </div>-->
	              	  <div class="mui-row mui-row-board" >
	              	  	  <div class="mui-bt mui-col-xs-4 mui-col-sm-3 ">
	              	  	   	 报销事项说明:
	              	  	   </div>
	              	  	    <div class="mui-col-xs-12 mui-col-sm-9 " >
	              	  	   	 {{appinfo.bxsxsm}}
	              	  	   </div>
	              	  	   
	              	  </div>
	              	  <div class="mui-row mui-row-board">
	              	  	  
	              	  	   <div class="mui-bt mui-col-xs-3 mui-col-sm-3 ">
	              	  	   	 扫描件名称:
	              	  	   </div>
	              	  	    <div class="mui-col-xs-12 mui-col-sm-9 ">
	              	  	   	 {{appinfo.smjmc}}
	              	  	   </div>
	              	  	   
	              	  </div>
	              	  <!--<div class="mui-row mui-row-board">
	              	  	  
	              	  	   <div class="mui-bt mui-col-xs-3 mui-col-sm-3 ">
	              	  	   	 备注:
	              	  	   </div>
	              	  	    <div class="mui-col-xs-9 mui-col-sm-9 ">
	              	  	   	 {{appinfo.bz}}
	              	  	   </div>
	              	  	   
	              	  </div>-->
	              </div>
	              <!--<div id="billbody" class="mui-card mui-card-content">

	              	  <div class="mui-row mui-text-center">
	              	  	   <div class="mui-col-xs-5 mui-col-sm-5 ">
	              	  	   	 行号:
	              	  	   </div>
	              	  	    <div class="mui-col-xs-5 mui-col-sm-5 ">
	              	  	   	 1
	              	  	   </div>
	              	  </div>
	              	  <div class="mui-row mui-text-center">
	              	  	   <div class="mui-col-xs-5 mui-col-sm-5 ">
	              	  	   	 收支项目:
	              	  	   </div>
	              	  	    <div class="mui-col-xs-5 mui-col-sm-5 ">
	              	  	   	 XXXXXXXXX
	              	  	   </div>
	              	  </div>
	              	  <div class="mui-row mui-text-center">
	              	  	   <div class="mui-col-xs-5 mui-col-sm-5 ">
	              	  	   	 原币金额:
	              	  	   </div>
	              	  	    <div class="mui-col-xs-5 mui-col-sm-5 mui-number-color">
	              	  	   	 1000000.00
	              	  	   </div>
	              	  </div>
	              	  <div class="mui-row mui-text-center">
	              	  	   <div class="mui-col-xs-5 mui-col-sm-5 ">
	              	  	   	 付款时间及条件:
	              	  	   </div>
	              	  	    <div class="mui-col-xs-5 mui-col-sm-5 ">
	              	  	   	 合同到期一次性支付
	              	  	   </div>
	              	  </div>
	              </div>-->
	              <!--
                  	表体信息
                  -->
		                  <div class="mui-card mui-card-content" >
		                 		 <ul class="mui-table-view">
		                      <li class="mui-table-view-cell mui-collapse">
		                          <a class="mui-navigate-right" href="#">详细信息</a>
		                          <!--差旅费报销单-->
		                          <div class="mui-collapse-content" v-if="appinfo.djlxbm=='2641'">
		                             <div id="billbody" class="mui-card mui-card-content" v-for="mxitem in appinfo.detail">
			              	                  <div class="mui-row mui-row-board mui-text-center">
							              	  	   <div class="mui-col-xs-5 mui-col-sm-5 ">
							              	  	   	 收支项目:
							              	  	   </div>
							              	  	    <div class="mui-col-xs-5 mui-col-sm-5 ">
							              	  	   	 {{mxitem.szxmmc}}
							              	  	   </div>
							              	  </div>
							              	  <div class="mui-row mui-row-board mui-text-center">
							              	  	   <div class="mui-col-xs-5 mui-col-sm-5 ">
							              	  	   	 出发日期:
							              	  	   </div>
							              	  	    <div class="mui-col-xs-7 mui-col-sm-5 ">
							              	  	   	 {{mxitem.cfrq}}
							              	  	   </div>
							              	  </div>
							              	  <div class="mui-row mui-row-board mui-text-center">
							              	  	   <div class="mui-col-xs-5 mui-col-sm-5 ">
							              	  	   	 出发地点:
							              	  	   </div>
							              	  	    <div class="mui-col-xs-7 mui-col-sm-5 ">
							              	  	   	 {{mxitem.cfdd}}
							              	  	   </div>
							              	  </div>
							              	  <div class="mui-row mui-row-board mui-text-center">
							              	  	   <div class="mui-col-xs-5 mui-col-sm-5 ">
							              	  	   	 到达日期:
							              	  	   </div>
							              	  	    <div class="mui-col-xs-7 mui-col-sm-5 ">
							              	  	   	 {{mxitem.ddrq}}
							              	  	   </div>
							              	  </div>
			                                 <div class="mui-row mui-row-board mui-text-center">
							              	  	   <div class="mui-col-xs-5 mui-col-sm-5 ">
							              	  	   	 到达地点:
							              	  	   </div>
							              	  	    <div class="mui-col-xs-7 mui-col-sm-5 ">
							              	  	   	 {{mxitem.dddd}}
							              	  	   </div>
							              	  </div>
							              	  <div class="mui-row mui-row-board mui-text-center">
							              	  	   <div class="mui-col-xs-5 mui-col-sm-5 ">
							              	  	   	 交通工具:
							              	  	   </div>
							              	  	    <div class="mui-col-xs-7 mui-col-sm-5 ">
							              	  	   	 {{mxitem.jtgj}}
							              	  	   </div>
							              	  </div>
							              	  <div class="mui-row mui-row-board mui-text-center">
							              	  	   <div class="mui-col-xs-5 mui-col-sm-5 ">
							              	  	   	 交通费_单据张数:
							              	  	   </div>
							              	  	    <div class="mui-col-xs-7 mui-col-sm-5 ">
							              	  	   	 {{mxitem.jtf_djzs}}
							              	  	   </div>
							              	  </div>
							              	  <div class="mui-row mui-row-board mui-text-center">
							              	  	   <div class="mui-col-xs-5 mui-col-sm-5 ">
							              	  	   	 交通费_金额:
							              	  	   </div>
							              	  	    <div class="mui-col-xs-7 mui-col-sm-5 mui-number-color">
							              	  	   	 {{mxitem.jtf_je}}
							              	  	   </div>
							              	  </div>
							              	  <div class="mui-row mui-row-board mui-text-center">
							              	  	   <div class="mui-col-xs-5 mui-col-sm-5 ">
							              	  	   	 出差天数:
							              	  	   </div>
							              	  	    <div class="mui-col-xs-7 mui-col-sm-5 ">
							              	  	   	 {{mxitem.ccts}}
							              	  	   </div>
							              	  </div>
							              	  <div class="mui-row mui-row-board mui-text-center">
							              	  	   <div class="mui-col-xs-5 mui-col-sm-5 ">
							              	  	   	 出差补贴_金额:
							              	  	   </div>
							              	  	    <div class="mui-col-xs-7 mui-col-sm-5 mui-number-color">
							              	  	   	 {{mxitem.ccbt_je}}
							              	  	   </div>
							              	  </div>
							              	  <div class="mui-row mui-row-board mui-text-center">
							              	  	   <div class="mui-col-xs-5 mui-col-sm-5 ">
							              	  	   	 住宿人数:
							              	  	   </div>
							              	  	    <div class="mui-col-xs-7 mui-col-sm-5 ">
							              	  	   	 {{mxitem.zsrs}}
							              	  	   </div>
							              	  </div>
							              	  <div class="mui-row mui-row-board mui-text-center">
							              	  	   <div class="mui-col-xs-5 mui-col-sm-5 ">
							              	  	   	 住宿天数:
							              	  	   </div>
							              	  	    <div class="mui-col-xs-7 mui-col-sm-5 ">
							              	  	   	 {{mxitem.zsts}}
							              	  	   </div>
							              	  </div>
							              	  <div class="mui-row mui-row-board mui-text-center">
							              	  	   <div class="mui-col-xs-5 mui-col-sm-5 ">
							              	  	   	 住宿费_金额:
							              	  	   </div>
							              	  	    <div class="mui-col-xs-7 mui-col-sm-5 mui-number-color">
							              	  	   	 {{mxitem.zsf_je}}
							              	  	   </div>
							              	  </div>
							              	  <div class="mui-row mui-row-board mui-text-center">
							              	  	   <div class="mui-col-xs-5 mui-col-sm-5 ">
							              	  	   	 报销金额:
							              	  	   </div>
							              	  	    <div class="mui-col-xs-7 mui-col-sm-5 mui-number-color">
							              	  	   	 {{mxitem.bxje}}
							              	  	   </div>
							              	  </div>
		                         		 </div>
		                          </div>
		                           
		                           <!--1.	车船费用报销单-->
		                          <div class="mui-collapse-content" v-if="appinfo.djlxbm=='2642'||appinfo.djlxbm=='F-01'">
		                             <div id="billbody" class="mui-card mui-card-content" v-for="mxitem in appinfo.detail">
			              	                <div class="mui-row mui-row-board mui-text-center">
							              	  	   <div class="mui-col-xs-5 mui-col-sm-5 ">
							              	  	   	 收支项目:
							              	  	   </div>
							              	  	    <div class="mui-col-xs-7 mui-col-sm-5 ">
							              	  	   	 {{mxitem.szxmmc}}
							              	  	   </div>
							              	  </div>
							              	  <div class="mui-row mui-row-board mui-text-center">
							              	  	   <div class="mui-col-xs-5 mui-col-sm-5 ">
							              	  	   	 事由:
							              	  	   </div>
							              	  	    <div class="mui-col-xs-7 mui-col-sm-5 ">
							              	  	   	 {{mxitem.sy}}
							              	  	   </div>
							              	  </div>
							              	  <div class="mui-row mui-row-board mui-text-center">
							              	  	   <div class="mui-col-xs-5 mui-col-sm-5 ">
							              	  	   	 报销金额:
							              	  	   </div>
							              	  	    <div class="mui-col-xs-7 mui-col-sm-5 mui-number-color">
							              	  	   	 {{mxitem.bxje}}
							              	  	   </div>
							              	  </div>
							              	  <div class="mui-row mui-row-board mui-text-center">
							              	  	   <div class="mui-col-xs-5 mui-col-sm-5 ">
							              	  	   	 车船号:
							              	  	   </div>
							              	  	    <div class="mui-col-xs-7 mui-col-sm-5 ">
							              	  	   	 {{mxitem.cch}}
							              	  	   </div>
							              	  </div>
			           
							              	  
		                         		 </div>
		                          </div>
		                    
		                        <!--招待费报销
                                -->
		                         <div class="mui-collapse-content" v-if="appinfo.djlxbm=='2645'">
		                             <div id="billbody" class="mui-card mui-card-content" v-for="mxitem in appinfo.detail">
			              	                <div class="mui-row mui-row-board mui-text-center">
							              	  	   <div class="mui-col-xs-5 mui-col-sm-5 ">
							              	  	   	 收支项目:
							              	  	   </div>
							              	  	    <div class="mui-col-xs-7 mui-col-sm-5 ">
							              	  	   	 {{mxitem.szxmmc}}
							              	  	   </div>
							              	  </div>
							              	  <div class="mui-row mui-row-board mui-text-center">
							              	  	   <div class="mui-col-xs-5 mui-col-sm-5 ">
							              	  	   	 事由:
							              	  	   </div>
							              	  	    <div class="mui-col-xs-7 mui-col-sm-5 ">
							              	  	   	 {{mxitem.sy}}
							              	  	   </div>
							              	  </div>
							              	  <div class="mui-row mui-row-board mui-text-center">
							              	  	   <div class="mui-col-xs-5 mui-col-sm-5 ">
							              	  	   	 报销金额:
							              	  	   </div>
							              	  	    <div class="mui-col-xs-7 mui-col-sm-5 mui-number-color">
							              	  	   	 {{mxitem.bxje}}
							              	  	   </div>
							              	  </div>
							              	  <div class="mui-row mui-row-board mui-text-center">
							              	  	   <div class="mui-col-xs-5 mui-col-sm-5 ">
							              	  	   	 开票单位:
							              	  	   </div>
							              	  	    <div class="mui-col-xs-7 mui-col-sm-5 ">
							              	  	   	 {{mxitem.kpdw}}
							              	  	   </div>
							              	  </div>
			           
							              	  
		                         		 </div>
		                          </div>
		                         
		                        <!--会议费报销单 后勤保障费报销单 qita
                                -->
                                 <div class="mui-collapse-content" v-if="appinfo.djlxbm=='2646'||appinfo.djlxbm=='264X-'||appinfo.djlxbm=='264X-1'">
		                             <div id="billbody" class="mui-card mui-card-content" v-for="mxitem in appinfo.detail">
			              	                <div class="mui-row mui-row-board mui-text-center">
							              	  	   <div class="mui-col-xs-5 mui-col-sm-5 ">
							              	  	   	 收支项目:
							              	  	   </div>
							              	  	    <div class="mui-col-xs-7 mui-col-sm-5 ">
							              	  	   	 {{mxitem.szxmmc}}
							              	  	   </div>
							              	  </div>
							              	  <div class="mui-row mui-row-board mui-text-center">
							              	  	   <div class="mui-col-xs-5 mui-col-sm-5 ">
							              	  	   	 事由:
							              	  	   </div>
							              	  	    <div class="mui-col-xs-7 mui-col-sm-5 ">
							              	  	   	 {{mxitem.sy}}
							              	  	   </div>
							              	  </div>
							              	  <div class="mui-row mui-row-board mui-text-center">
							              	  	   <div class="mui-col-xs-5 mui-col-sm-5 ">
							              	  	   	 报销金额:
							              	  	   </div>
							              	  	    <div class="mui-col-xs-7 mui-col-sm-5 mui-number-color">
							              	  	   	 {{mxitem.bxje}}
							              	  	   </div>
							              	  </div>
							              	  <div class="mui-row mui-row-board mui-text-center">
							              	  	   <div class="mui-col-xs-5 mui-col-sm-5 ">
							              	  	   	 客商:
							              	  	   </div>
							              	  	    <div class="mui-col-xs-7 mui-col-sm-5 ">
							              	  	   	 {{mxitem.ks}}
							              	  	   </div>
							              	  </div>
			           
							              	  
		                         		 </div>
		                          </div>
		                         <!--固定资产报销单
                                 -->
		                         <div class="mui-collapse-content" v-if="appinfo.djlxbm=='2644'">
		                             <div id="billbody" class="mui-card mui-card-content" v-for="mxitem in appinfo.detail">
			              	                <div class="mui-row mui-row-board mui-text-center">
							              	  	   <div class="mui-col-xs-5 mui-col-sm-5 ">
							              	  	   	 收支项目:
							              	  	   </div>
							              	  	    <div class="mui-col-xs-7 mui-col-sm-5 ">
							              	  	   	 {{mxitem.szxmmc}}
							              	  	   </div>
							              	  </div>
							              	  <div class="mui-row mui-row-board mui-text-center">
							              	  	   <div class="mui-col-xs-5 mui-col-sm-5 ">
							              	  	   	 资产名称:
							              	  	   </div>
							              	  	    <div class="mui-col-xs-7 mui-col-sm-5 ">
							              	  	   	 {{mxitem.zcmc}}
							              	  	   </div>
							              	  </div>
							              	  <div class="mui-row mui-row-board mui-text-center">
							              	  	   <div class="mui-col-xs-5 mui-col-sm-5 ">
							              	  	   	 品牌:
							              	  	   </div>
							              	  	    <div class="mui-col-xs-7 mui-col-sm-5 ">
							              	  	   	 {{mxitem.pp}}
							              	  	   </div>
							              	  </div>
							              	  <div class="mui-row mui-row-board mui-text-center">
							              	  	   <div class="mui-col-xs-5 mui-col-sm-5 ">
							              	  	   	 规格型号:
							              	  	   </div>
							              	  	    <div class="mui-col-xs-7 mui-col-sm-5 ">
							              	  	   	 {{mxitem.ggxh}}
							              	  	   </div>
							              	  </div>
							              	  <div class="mui-row mui-row-board mui-text-center">
							              	  	   <div class="mui-col-xs-5 mui-col-sm-5 ">
							              	  	   	 单价:
							              	  	   </div>
							              	  	    <div class="mui-col-xs-7 mui-col-sm-5 ">
							              	  	   	 {{mxitem.dj}}
							              	  	   </div>
							              	  </div>
							              	  <div class="mui-row mui-row-board mui-text-center">
							              	  	   <div class="mui-col-xs-5 mui-col-sm-5 ">
							              	  	   	 数量:
							              	  	   </div>
							              	  	    <div class="mui-col-xs-7 mui-col-sm-5 ">
							              	  	   	 {{mxitem.sl}}
							              	  	   </div>
							              	  </div>
							              	  <div class="mui-row mui-row-board mui-text-center">
							              	  	   <div class="mui-col-xs-5 mui-col-sm-5 ">
							              	  	   	 报销金额:
							              	  	   </div>
							              	  	    <div class="mui-col-xs-7 mui-col-sm-5 mui-number-color">
							              	  	   	 {{mxitem.bxje}}
							              	  	   </div>
							              	  </div>
							              	  <div class="mui-row mui-row-board mui-text-center">
							              	  	   <div class="mui-col-xs-5 mui-col-sm-5 ">
							              	  	   	 供应商:
							              	  	   </div>
							              	  	    <div class="mui-col-xs-7 mui-col-sm-5 ">
							              	  	   	 {{mxitem.gys}}
							              	  	   </div>
							              	  </div>
			           
							              	  
		                         		 </div>
		                          </div>
		                      
		                      </li>
		                      
		                  </ul>
		                  </div>
		                  <!--
                          	审批情况
                          -->
		                   <div class="mui-card mui-card-content">
		                 		 <ul class="mui-table-view">
		                      <li class="mui-table-view-cell mui-collapse">
		                          <a class="mui-navigate-right" href="#">审批情况</a>
		                          <div class="mui-collapse-content">
		                             <div id="billbody" class="mui-card mui-card-content" v-for="spitem in appinfo.workflow">
			              	  
							              	  <div class="mui-row mui-row-board mui-text-center">
							              	  	   <div class="mui-col-xs-5 mui-col-sm-5 ">
							              	  	   	 审批人:
							              	  	   </div>
							              	  	    <div class="mui-col-xs-5 mui-col-sm-5 ">
							              	  	   	 {{spitem.checkname}}
							              	  	   </div>
							              	  </div>
							              	  <div class="mui-row mui-row-board mui-text-center">
							              	  	   <div class="mui-col-xs-5 mui-col-sm-5 ">
							              	  	   	 审批情况:
							              	  	   </div>
							              	  	    <div class="mui-col-xs-5 mui-col-sm-5 ">
							              	  	   	 {{spitem.checknote}}
							              	  	   </div>
							              	  </div>
							              	  <div class="mui-row mui-row-board mui-text-center">
							              	  	   <div class="mui-col-xs-5 mui-col-sm-5 ">
							              	  	   	 审批日期:
							              	  	   </div>
							              	  	    <div class="mui-col-xs-7 mui-col-sm-5 ">
							              	  	   	 {{spitem.dealdate}}
							              	  	   </div>
							              	  </div>
			              
		                         		 </div>
		                          </div>
		                          
		                      </li>
		                      
		                  </ul>
		                  </div>
		                  <!--
                          	附件
                          -->
		                   <div class="mui-card mui-card-content">
		                 		 <ul class="mui-table-view">
		                      <li class="mui-table-view-cell mui-collapse">
		                          <a class="mui-navigate-right" href="#">附件</a>
		                          <div class="mui-collapse-content">
		                             <div id="billbody" class="mui-card mui-card-content" v-for="fjitem in appinfo.appfj">
			              	  
							              	  <div class="mui-row mui-row-board mui-text-center">
							              	  	   <div class="mui-col-xs-4 mui-col-sm-4 ">
							              	  	   	 附件名称:
							              	  	   </div>
							              	  	    <div class="mui-col-xs-4 mui-col-sm-4 ">
							              	  	   	 {{fjitem.fjmc}}
							              	  	   </div>
							              	  	   <div class="mui-fj mui-col-xs-2 mui-col-sm-2 mui-text-right" v-bind:id=fjitem.src v-on:tap="openFj(fjitem.src)">
							              	  	   	     
							              	  	   	       <span class="mui-icon mui-icon-search"></span>
							              	  	   </div>
							              	  	   
							              	  </div>
							              	  <!--<div class="mui-row mui-row-board mui-text-center" style="display: none;">
							              	  	   <div class="mui-col-xs-5 mui-col-sm-5 ">
							              	  	   	 附件地址:
							              	  	   </div>
							              	  	    <div class="mui-col-xs-5 mui-col-sm-5 " id="fjsrc">
							              	  	   	 {{fjitem.src}}
							              	  	   </div>
							              	  </div>-->
							              	  
			              
		                         		 </div>
		                          </div>
		                          
		                      </li>
		                      
		                  </ul>
		                  </div>
		                  <!--
                           审批区域
                          -->
		                  <div class="mui-card mui-card-content" v-if="state=='N'">
		                  	 <div class="mui-input-row">
		                  	    <div class="mui-input-row" style="margin: 10px 5px;">
									<textarea id="textarea" rows="5" placeholder="审批意见" class="mui-input-speech mui-input-clear"></textarea>
								</div>
		                  	 </div>
		                  	 <div class="mui-row mui-text-center" style="padding-bottom: 10px;">
		                  	 	 <div class="mui-col-xs-6 mui-col-sm-6">
		                  	 	 	   <button type="button" class="mui-btn mui-btn-blue" style="width: 100px;" v-on:tap="approve(1)">同意</button>
		                  	 	 </div>
		                  	 	  <div class="mui-col-xs-6 mui-col-sm-6">
		                  	 	 	   <button type="button" class="mui-btn mui-btn-red" style="width: 100px;" v-on:tap="approve(2)">不同意</button>
		                  	 	 </div>
		                  	 </div>
		                  	 
		                  </div>
	    <!--
          结尾
        -->
		</div>
		
		<script src="js/mui.min.js"></script>
		<script type="text/javascript" src="js/vue.js" ></script>
		<script type="text/javascript" src="js/vue-mui.js" ></script>
		<script type="text/javascript" src="js/jquery-1.10.2.js" ></script>
		<script type="text/javascript" src="js/jquery-1.10.2.min.js" ></script>
		<script type="text/javascript" src="js/Ajax.js" ></script>
		<script type="text/javascript" src="js/fj.js" ></script>
		<script type="text/javascript" src="js/appjs/approve.js" ></script>
		
	</body>

</html>